.header {
    background-color: transparent;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 2px solid black;
  }
  
  .logo {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
  }
  
  .logo img {
    width: 50px;
    height: 50px;
    margin-left: 20px;
  }
  
  .nav {
    display: flex;
    align-items: center;
  }
  
  .logoutButton {
    background-color: red;
    color: white;
    border: none;
    border-radius: 20%;
    padding: 12px;
    width: 120px;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, opacity 0.3s ease;
  }
    
  .logoutButton:hover {
    background-color: rgba(255, 0, 0, 0.8);
    opacity: 0.8;
  }

  .link {
    background-color: red;
    color: white;
    border: none;
    border-radius: 20%;
    padding: 12px;
    margin: 0 5px;
    width: 120px;
    cursor: pointer;
    transition: background-color 0.3s ease, opacity 0.3s ease;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
  }
  
  .link:hover {
    background-color: rgba(255, 0, 0, 0.8);
    opacity: 0.8;
  }
  
  .link:focus {
    outline: none;
  }
  
  .link:active {
    transform: translateY(1px);
  }