.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.title {
  font-family: "Comic Sans MS", cursive;
  font-size: 46px;
  margin-top: 0px;
  margin-bottom: 50px;
  text-align: center;  
  color: lightgoldenrodyellow;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
}

.form label {
  font-weight: bold;
  color: #333;
  margin-bottom: 8px;
}

.form input,
.form textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
}

.form button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.form button:hover {
  background-color: #555;
}