.container {
  display: flex;
}

.ordersContainer {
  margin-right: 20px;
  width: 500px;
  padding: 10px;  
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.5);
  height: fit-content;
}

.title {
  font-family: "Comic Sans MS", cursive;
  font-size: 28px;
  margin-top: 0px;
  text-align: center;
}

.orderContainer {
  border: 1px solid Red;
  border-radius: 20px;
  padding: 20px;
  padding-bottom: 0px;
  padding-top: 0px;
  margin-bottom: 10px;
  position: relative;
}

.ordersMissing {
  font-family: "Comic Sans MS", cursive;
  text-align: center;
  color: blue;
  opacity: 0.8;
}