.orderIdAddresContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;  
  font-weight: bold;
}
  .orderId {
    font-size: 20px;
  }
  
  .deliveryAddress {
    font-size: 18px;
  }

.items {
  margin: 0px;
  margin-bottom: 7px;
  font-size: 20px;
}

.orderCommentPriceContainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 14px;
  margin-bottom: 10px;
}

  .comment {
    font-style: italic;
    font-size: 15px;  
    margin: 0px;
  }

  .totalPrice {
    font-size: 18px;
    font-weight: bold;  
    margin: 0px;
  }
