.orderItemContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
  height: 30px;
}

.productName {
  flex: 1;
  font-weight: bold;
  font-style: italic;
}

.productPrice {
  font-weight: lighter;
}

.productAmount {
  margin-left: 10px;
  border: 1px dashed black;
  border-radius: 10px;
  padding: 4px;
}