.usersContainer {
  display: grid;
  padding: 10px;
  margin: 0 auto;
  width: fit-content;
  grid-template-columns: minmax(320px, 1fr) minmax(320px, 1fr) minmax(320px, 1fr) minmax(320px, 1fr);
  grid-column-gap: 30px;
  justify-content: center;  
  background-color: rgba(255, 255, 255, 0.5);
}

.column {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.userContainer {
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}

.title {
  font-family: "Comic Sans MS", cursive;
  font-size: 28px;
  margin-top: 0px;
  margin-bottom: 12px;  
  text-align: center;
}